bin/
obj/
*.user
*.suo
*.userprefs
*.sln.docstates

*.db
*.mdf
*.ldf
appsettings*.json
secrets.json

*.log

*.tmp
*.temp
*.bak

.vscode/
.idea/
*.vs/

*.ncrunchproject
*.ncrunchsolution
*.ncrunch.*
TestResults/
TestResults/**

*.jfm
*.jfm.*
*.tfstate
*.tfstate.*
*.tfplan

packages/