**/bin/
**/obj/
**/logs/
*.user
*.suo
*.userprefs
*.sln.docstates

*.db
*.mdf
*.ldf

*.log

*.tmp
*.temp
*.bak

.vscode/
.idea/
*.vs/

*.ncrunchproject
*.ncrunchsolution
*.ncrunch.*
TestResults/
TestResults/**

*.jfm
*.jfm.*
*.tfstate
*.tfstate.*
*.tfplan
